<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.kaisar.xposed.godmode.engine.applier.ModifyApplierTestActivity"
            android:exported="false" />
        <activity
            android:name="com.kaisar.xposed.godmode.engine.matcher.CompositeMatcherTestActivity"
            android:exported="false" />
    </application>
</manifest>
