<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="32"
            tools:ignore="ScopedStorage" />
    <uses-permission
            android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
            android:name=".GodModeApplication"
            android:icon="@mipmap/ic_god"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SettingsActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity-alias
                android:name="SettingsAliasActivity"
                android:exported="true"
                android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
                android:name=".service.QuickSettingsService"
                android:exported="true"
                android:icon="@drawable/ic_angel_normal"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
                android:name=".service.NotificationService"
                android:exported="false"
                android:foregroundServiceType="specialUse"
                android:icon="@drawable/ic_angel_normal"
                android:label="@string/app_name">
            <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="persistent_notification_for_edit_mode_control" />
        </service>

        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="@string/xposed_description" />
        <meta-data
                android:name="xposedminversion"
                android:value="89" />
        <meta-data
                android:name="xposedscope"
                android:resource="@array/need_module" />
    </application>

</manifest>